body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6a0dad;
    color: white;
    text-align: center;
    padding: 20px;
}

header .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1, h2 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.linkedin {
    background-color: #119de9; /* LinkedIn blue */
}

.linkedin:hover {
    background-color: #005582;
}

.github {
    background-color: #333; /* GitHub black */
}

.github:hover {
    background-color: #000;
}

.leetcode {
    background-color: #f89f1b; /* LeetCode orange */
}

.leetcode:hover {
    background-color: #cc7e0e;
}
.linktree{
    background-color: rgb(12, 252, 12);
}
.linktree:hover{
    background-color: rgb(9, 122, 15);
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
